<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
    <script type="text/javascript" src="../js/loadCreate.js" />
//    <script type="text/javascricpt">
//    function hideShow() {
//    if(document.getElementById('
//    	document.getElementById('code').style.display='none';
//		document.getElementById('code2').style.display='none';
//	}
//	</script>
</head>
<body>

<h2>Create a new Activity</h2>
<div>
<button onclick="cancel()">Cancel</button>
</div>

<div>
<h4>Name</h4>
<textarea rows="1" cols="20" id="namensfeld" value=""></textarea>
</div>

<div>
<h4>Category</h4>
<textarea rows="2" cols="30" id="categoryfeld" value=""></textarea>
</div>

<div>
<h4>Department</h4>
<textarea rows="1" cols="20" id="departmentfeld" value=""></textarea>
</div>

<h4>Tags</h4>
<div>
<textarea rows="5" cols="20" id="tagfeld" value=""></textarea>
</div>

<h4>Description</h4>
<div>
<textarea rows="10" cols="80" id="descriptionfeld" ></textarea>
</div>

<div>
<p>Please verify yourself! A code will be sent to your Email.</p>
</div>

<div>
<textarea rows="1" cols="40" id="mail"></textarea><button onclick="doBoth()">Send Email</button>
</div>

<div id="code">
<p>Please enter the code which was sent to the Email you submitted.</p>
<input type="text" id="code2" value=""></input><button onclick="sendMail()">Submit code</button>
<p id="code2">thanks</p>
</div>

</body>
</html>