<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
    <script type="text/javascript" src="../js/loadList.js" />
<style>
.center {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}
</style>
</head>

<body>
<div class="center">
	<h1><span style="color: #993366;">Overview of Activities</span></h1>
	<button onclick="window.location.href='/createActivity'">Create a new Activity</button>
	<p></p>
	
	<div>
		<table align="center" border="1" bordercolor = "black" cellpadding = "3" cellspacing = "1">
			<tr >
				<td width="200"><h4>Name</h4></td>
				<td width="200"><h4>Category</h4></td>
				<td width="200"><h4>Department</h4></td>
				<td width="300"><h4>Tags</h4></td>
			</tr>
			<tbody id="startcolumn">
			</tbody>
		</table>
	</div>
</div>
</body>
</html>


